<div class="post">
<h1><%= @post.title %></h1>
<div class="article">
<p><%= @post.description %></p>
<%= link_to 'トップへ',posts_path, class:"right" %>
<%= link_to '編集',edit_post_path, class:"right" %>
</div>
</div>